In [2]:
import pandas as pd
df = pd.read_csv('Pre_Processed_star_catalogue.csv')
import numpy as np

In [3]:
df['cos_ang_dist']= np.cos(np.radians(df['Ang_Distance'].values))
df['cos_ang_dist']

0         1.000000
1         1.000000
2         1.000000
3         1.000000
4         1.000000
            ...
432111    0.939693
432112    0.939693
432113    0.939693
432114    0.939693
432115    0.939693
Name: cos_ang_dist, Length: 432116, dtype: float64

In [4]:
df = df.sort_values("cos_ang_dist")

In [5]:
df['index']= range(1,len(df)+1)
df = df[['index','Star_ID1','Star_ID2','cos_ang_dist']]
df.to_csv("PreProcessedFinal3.csv", header = False, index = False)

In [6]:
#df.to_csv("PreProcessedFinal2.csv", header = False, index = False)
a = df['cos_ang_dist'].values
a[432115-52373+1]

0.9930322136889949

In [7]:
'''34703,31050 - 247887 - 432116-247887+1  
34703,30217 - 331269
34703,32028 - 213476
32028,31050 - 19912
32028,30217 - 52373
30217,31050 - 9866

S1 - 34703
S2 - 31050
S3 - 30217
S4 - 32028'''

'34703,31050 - 247887 - 432116-247887+1  \n34703,30217 - 331269\n34703,32028 - 213476\n32028,31050 - 19912\n32028,30217 - 52373\n30217,31050 - 9866\n\nS1 - 34703\nS2 - 31050\nS3 - 30217\nS4 - 32028'

In [8]:
df[(df['Star_ID1']==32028)&(df['Star_ID2']==30217)]

        index  Star_ID1  Star_ID2  cos_ang_dist
52373  379743   32028.0     30217      0.993032

In [10]:
df[df['index']==187092]

         index  Star_ID1  Star_ID2  cos_ang_dist
245024  187092   34086.0     33431      0.966225